<p id="notice"><%= notice %></p>

<h1>Sitios</h1>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th>Direccion</th>
      <th>Ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sitios.each do |sitio| %>
      <tr>
        <td><%= link_to sitio.direccion , sitio.direccion %></td>
        <td><%= sitio.ip %></td>
        <td><%= link_to 'Show', sitio %></td> 
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate %>

